@model ConfirmScreen.ViewModels.MoviewIndexViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Impression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies.First().Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Impression))
                    {
                        @Html.Raw(System.Web.HttpUtility.HtmlEncode(item.Impression.Replace("\r\n", "<br>")).Replace("&lt;br&gt;", "<br>"))
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseDate)
                </td>
                <td>
                    @Model.GenreList.FirstOrDefault(g => g.Value == item.Genre)?.Text
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
